<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="//unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui/lib/index.js"></script>
    <script src="./build/util-wasm.js"></script>
    <script src="./util.js"></script>
</head>

<body>
    <div id="app" style="max-width: 960px; margin: 0 auto;">
        <h1>Google Protocol Compiler in the Browser</h1>
        <span>Protocol Compiler Version: {{ version }}</span>
        <br>
        <span>Documentation:
            <a href="https://www.npmjs.com/package/google-protocol-compiler">https://www.npmjs.com/package/google-protocol-compiler</a>
        </span>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <el-col :span="24">
                <el-input v-model="proto.name" placeholder="name of the .proto file"></el-input>
            </el-col>
        </el-row>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <el-col :span="24">
                <el-input type="textarea" :autosize="{ minRows: 5, maxRows: 10}" cols="80" placeholder="Content of the .proto file" v-model="proto.content">
                </el-input>
            </el-col>
        </el-row>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <el-col :span="4">
                <template>
                    <el-select v-model="proto.language" placeholder="Generated Code Language">
                        <el-option v-for="(description, language) in languages" :key="language" :label="language" :value="language">
                        </el-option>
                    </el-select>
                </template>
            </el-col>
            <el-col :span="1">&nbsp;</el-col>
            <el-col :span="19">
                <el-input v-model="proto.parameters" placeholder="additional parameters to the code generator"></el-input>
            </el-col>
        </el-row>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <pre>Command line: {{ commandLine }}</pre>
        </el-row>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <el-col :span="3">
                <el-button :disabled="!isReady || autogen" onclick="generate()">{{ buttonText }}</el-button>
            </el-col>
            <el-col :span="4">
                <template>
                    <el-checkbox style="padding: 12px" v-model="autogen">Generate code automatically</el-checkbox>
                </template>
            </el-col>
        </el-row>
        <template v-if="result.error">
            <div style="margin: 20px 0;"></div>
            <el-row>
                <el-col :span="24">
                    <el-input type="textarea" :autosize="{ minRows: 5, maxRows: 10}" cols="80" placeholder="error message" v-model="result.error">
                    </el-input>
                </el-col>
            </el-row>
        </template>
        <div style="margin: 20px 0;"></div>
        <el-row>
            <el-col :span="24">
                <template>
                    <el-tabs v-model="result.currentPage">
                        <el-tab-pane v-for="(content, file) in result.files" :label="file" :name="file" :key="file">
                            <el-input type="textarea" :autosize="{ minRows: 5, maxRows: 20}" cols="80" placeholder="Content of the .proto file" v-model="result.files[file]">
                        </el-tab-pane>
                    </el-tabs>
                </template>
            </el-col>
        </el-row>
    </div>
</body>
<script>
    function toHash(proto) {
        return '#' + encodeURIComponent(JSON.stringify(proto));
    }

    function fromHash(hash) {
        try {
            return JSON.parse(decodeURIComponent(hash.substr(1)));
        } catch (err) {
            alert('Failed to parse proto info from url: ' + err);
            return {};
        }
    }

    const app = new Vue({
        el: '#app',
        data: {
            version: "Loading...",
            languages: {},
            isReady: false,
            autogen: false,
            proto: {
                name: 'foo.proto',
                content: '// .proto file content\nsyntax = "proto3";\npackage test;\n',
                language: 'C++',
                parameters: '',
            },
            result: {
                error: '',
                currentPage: '',
                files: {},
            }
        },
        computed: {
            buttonText() {
                return this.isReady ? "Generate" : "Loading...";
            },
            commandLine() {
                if (!this.isReady) {
                    return "loading...";
                }
                if (typeof this.languages[this.proto.language] === 'undefined') {
                    return "unknown language: " + this.proto.language;
                } else {
                    const desc = this.languages[this.proto.language];
                    if (this.proto.parameters) {
                        if (desc.protocOptionFlag) {
                            return "protoc " + desc.protocOutputFlag + "=. " + desc.protocOptionFlag + "=" + this.proto.parameters + " " + this.proto.name;
                        } else {
                            return "protoc " + desc.protocOutputFlag + "=" + this.proto.parameters + ":. " + this.proto.name;
                        }
                    } else {
                        return "protoc " + desc.protocOutputFlag + "=. " + this.proto.name;
                    }
                }
            }
        },
        mounted() {
            if (location.hash) {
                const proto = fromHash(location.hash);
                this.proto = proto;
            } else {
                if (localStorage.name) {
                    this.proto.name = localStorage.name;
                }
                if (localStorage.content) {
                    this.proto.content = localStorage.content;
                }
                if (localStorage.language) {
                    this.proto.language = localStorage.language;
                }
                if (localStorage.parameters) {
                    this.proto.parameters = localStorage.parameters;
                }
            }
        },
        watch: {
            autogen(value) {
                if (value && app.isReady) {
                    delayedUpdateGeneratedCode();
                }
            },
            'proto.name'(value) {
                localStorage.name = value;
                onInputUpdated();
            },
            'proto.content'(value) {
                localStorage.content = value;
                onInputUpdated();
            },
            'proto.language'(value) {
                localStorage.language = value;
                onInputUpdated();
            },
            'proto.parameters'(value) {
                localStorage.parameters = value;
                onInputUpdated();
            }
        }
    });

    let generator = new CodeGenerator();
    generator.onReady(() => {
        console.log("CodeGenerator is ready!");
        app.isReady = true;
        app.version = generator.versionNumber;
        app.languages = generator.languageList;
        if (app.autogen) {
            generate();
        }
    });

    function generate() {
        if (!generator.isReady) {
            alert('CodeGenerator is not ready!');
            return;
        }
        const result = generator.generateCode(app.proto.name, app.proto.content, app.proto.language, app.proto.parameters);
        app.result.error = result.error;
        app.result.files = result.files;
        if (result.files && typeof result.files[app.result.currentPage] === 'undefined') {
            for (var key in result.files) {
                app.result.currentPage = key;
                console.log('Set current page to: ', key);
                break;
            }
        }
        console.log(app.result);
    }

    let timer = null;
    function delayedUpdateGeneratedCode() {
        if (timer) {
            clearTimeout(timer);
        }
        timer = setTimeout(generate, 500);
    }

    function onInputUpdated() {
        // Update hash
        location.hash = toHash(app.proto);

        // Update generated code if autogen is enabled.
        if (app.autogen && app.isReady) {
            delayedUpdateGeneratedCode();
        }
    }
</script>

</html>
